@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: Noto Sans;
}

.navMenu {
  position: absolute;
  top: 6vh;
  left: 50%;
  display: flex;
  align-items: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 2vw;
  /* display: inline-block;
  width: 80px; */
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}
/* 
.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
} */

#avatar img {
  height: 170px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  color: white;
  font-family: Noto Sans;
}

#pageList {
  color: white;
  font-family: Noto Sans;
  margin-top: 20vh;
  margin-left: 13vw;
}

.page {
  margin-bottom: 10vh;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.page a{
  text-decoration: none;
  color: white;
}

.page span {
  display: block;
  width: 25vw;
  word-break: break-all;
  margin-top: 3vh;
  margin-left: 1vw;
  background-color: #47323E;
  border: 0;
  border-radius: 25px;
  padding: 10px;
  transition: 0.25s;
}

.page span:hover{
  border-radius: 5px;
}

#openPage{
  margin-top: 20vh;
  margin-left: 12vw;
}

#openPage div{
  color: white;
  width: 90%;
  background-color: #47323E;
  border: 0;
  border-radius: 15px;
  padding: 10px;
}

#openPage a{
  color: rgb(50, 132, 255);
  text-decoration: none;
}

#openPage a:hover{
  color: rgb(115, 171, 255);
}

@media (orientation: landscape) {
  .page {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .page {
    flex-direction: column;
  }
  .page span{
    width: 70vw;
  }
}
